<h1 class = "imagegalary">
	An Image Galary
</h1>
<div class="container">
<div calss = "item blue">
	<img src = "https://d.newsweek.com/en/full/1580227/final-fantasy-7-remake-download-release-time.jpg?w=790&f=cbe6e5d7757c24505fa48de092927cec">
	<i class = "fa fa-paw"></i>
	<a href = "https://google.com"></a>
</div>
<div calss = "item blue">
	<img src = "https://gamingbolt.com/wp-content/uploads/2020/02/Final-Fantasy-VII-Remake-Key-Vis_02-07-20_001l.jpg">
	<i class = "fa fa-camera"></i>
	<a href = "https://google.com"></a>
</div>
<div calss = "item blue">
	<img src = "https://cdn.gamer-network.net/2020/usgamer/Final-Fantasy-7-Remake-Review-Screenshot-1-04052020.jpg/EG11/thumbnail/1920x1080/format/jpg/quality/65/final-fantasy-7-remake-length-how-many-chapters-are-there.jpg">
	<i class = "fa fa-paw"></i>
	<a href = "https://google.com"></a>
</div>
	</div>