<%- include("./partials/header") %>
<h1>
	Sign up
</h1>

<form action = "/register" methos = "post">
	<input type = "text"  name = "username" placceholder = "username">
	<input type = "password"  name = "password" placceholder = "password">
	<button>
		Submit
	</button>
</form>register

<li><a href = "/register">Sign Up!</a></li>
<li><a href = "/login">Login!</a></li>
<li><a href = "/logout">Logout!</a></li>

<%- include("./partials/footer") %>